################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/darkroom/.vs/darkroom/FileContentIndex/0dcd2d12-7343-4344-ae74-f30ed3bb98f6.vsidx
